body    {
    background-color:#ccc ;
}

#title, .subtitle, .post_title {
    color: blue;
}

.post_title{
    
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-top: 15px;

}

.post{
    background: #FFF;
    padding: 10px;
    border: 3px solid #000;
    margin: 10px;
}

